$white: #ffffff;
$black: #000000;
$border-radius: 4px;
$font-color: rgba(0, 0, 0, 0.65);
$gray: rgba(0, 0, 0, 0.25);
$primary: #1890ff;
$red: #f5222d;
$disabled-item:  rgba(0, 0, 0, .25);
$favorite-color: #fadb14;
$archive-color: #ffcc00;
$accept-color: #52c41a;
$transparent-element: rgba(0, 0, 0, 0);